{% extends 'base.html' %}
{% block content %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button type="submit">Загрузить данные в базу</button>
</form>

<form method="get">
    <button type="submit" value="db" name="output">Вывод из БД</button>
</form>


<form method="get">
    <button type="submit">Жми</button>
</form>

<!--# вывод продукта - таблица-->
{% if product %}
<table class="table table-striped table-dark table-bordered table-hover table-sm">
  <thead>
    <tr>
      <th>#</th>
      <th>Товар</th>
      <th>Количество</th>
      <th>Дата</th>
    </tr>
  </thead>
    {% for pr in product %}
  <tbody>
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ pr.title }}</td>
      <td>{{ pr.count }}</td>
      <td>{{ pr.purchase_date }}</td>
    </tr>
  </tbody>
    {% endfor %}
</table>
{% endif %}


{% if uploaded_file_url %}
<p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
{% endif %}

{% for x in excel_data %}
{{ x }} <br>
{% endfor %}




{% endblock %}