<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">На главную</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
<!--            <li class="nav-item active">-->
<!--                <a class="nav-link" href="{% url 'home' %}">На главную<span class="sr-only">(current)</span></a>-->
<!--            </li>-->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'upload' %}">Загрузить файл</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Действия
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'list' %}">Вывести данные</a>
                    <a class="dropdown-item" href="{% url 'delete' %}">Очистить БД</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'write_date' %}">Ввод даты</a>
<!--                    <a class="dropdown-item" href="{% url 'prediction' %}">Основная логика</a>-->
                </div>
            </li>
<!--            <li class="nav-item">-->
<!--                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
<!--            </li>-->
        </ul>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" disabled type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" disabled type="submit">Search</button>
        </form>

    </div>
</nav>